<!doctype html>
<html lang="en">
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
        <link rel="stylesheet" href="/static/compiled.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Number Display</title>
        <style>
            body {
                margin: 0;
                padding: 0;
                height: 100vh;
                background-image: url("static/bg.jpg");
                background-size: cover;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body class="flex flex-col gap-8">
        {% include "readouts.html" %}
        {% include "chart.html" %}
        <script>window.__HISTORIC_DATA= {
          vibration: JSON.parse("{{ historic_vibration_data }}"),
          relay: JSON.parse("{{ historic_relay_data }}")
        }</script>
    </body>
</html>
