<div
    id="readouts"
    class="flex flex-row gap-4 rounded-lg bg-slate-300 p-3 shadow-lg"
    hx-get="/readouts"
    hx-target="#readouts"
    hx-trigger="every 1s"
    hx-swap="outerHTML"
>
    <div>
        <label class="number-label">Влажность</label>
        <div class="number">{{ humidity }}%</div>
    </div>
    <div>
        <label class="number-label">Температура</label>
        <div class="number">{{ temperature }}°C</div>
    </div>
    <div>
        <label class="number-label">Наличие вибрации</label>
        <div class="number">
            {% if has_vibration %}
                есть
            {% else %}
                нет
            {% endif %}
        </div>
    </div>
</div>
